:root {
    --bg-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: Montserrat, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    padding: 0.5rem 2rem;
    border-radius: 7px;
}

.nav-item:hover {
    background-color: rgb(43, 47, 49);
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-size: x-large;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.avatar {
    height: 25vh;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.creampuffs {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.creampuffs-image-wrapper {
    height: 40vh;
    aspect-ratio: 12/9;
}

.creampuffs-image-wrapper>img {
    height: 40vh;
    aspect-ratio: 12/9;
    border-radius: 10px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-subtitle {
    margin: 10px 0px;
}

.projects-vertical {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.project {
    background-color: gray;
    width: 60vw;
    padding: 10px 10px;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 10vh;
}

.contacts>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
}

.banner {
    height: 80vh;
}

/* helper style class */

.underline {
    border-bottom: 2px solid #323131
}