@font-face {
    font-family: 'JosefinSans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}


:root {
    --bg-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: Montserrat, sans-serif;

    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
}

/* Navigation bar styling */

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    padding: 1rem 2.35rem;
    border-radius: 7px;
}

.nav-item a {
    position: relative;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font-size: 1.2em;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.nav-item a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

/* Banner section styling */

.banner {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text {
    font-family: JosefinSans, sans-serif;
    font-size: 10em;
}

.banner-line-one {
    transform: translateX(10vw);
}

.banner-line-two {
    transform: translateX(30vw);
}

/* About me section styling */

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-size: x-large;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.avatar {
    height: 25vh;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

/* Creampuffs section (yes really) styling */

.creampuffs {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.creampuffs-image-wrapper {
    height: 40vh;
    aspect-ratio: 12/9;
}

.creampuffs-image-wrapper>img {
    height: 40vh;
    aspect-ratio: 12/9;
    border-radius: 10px;
}

/* Projects section styling */

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-subtitle {
    margin: 10px 0px;
}

.projects-vertical {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.project {
    background-color: gray;
    width: 60vw;
    padding: 10px 10px;
}

/* Contacts section styling */

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 10vh;
}

.contacts>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
}

.contacts a {
    text-decoration: none;
    color: inherit;
}

/* helper style class */

.underline {
    border-bottom: 2px solid #323131
}